/* base.css */

#menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: auto; /* will be used later to set top margin of #wrap */
	margin: 0;
	padding: 0 1em;
	display: none; /* in case of noscript */

	background-color: gray;
	background-image: url(../img/subtle_carbon.png);
	border-bottom: medium double white;
}

#info {
	position: fixed;
	bottom: 0;
	left: 0;
	height: auto;
	overflow: hidden;

	font-size: small;
}

#info p {
	/* status/activity messages */
	margin: 1px;
	padding: 1px 1ex;

	background-color: rgba(255,255,255,.8);
	color: black;

	border-radius: 1ex;
}

#wrap {
	overflow: auto; /* scrollbars on #wrap in case of large #maze */
}

#maze {
	display: inline-block;
}

.alert {
	margin: 1cm 1cm 0 1cm;
}
