
/* Basic theme ************************/

#maze.basic {
}

#maze.basic #grid {
}

#maze.basic .cell {
	width: 1cm;
	height: 1cm;
	margin: 0;
	padding: 0;
	border: none;
	background-color: #ddd;
	border-bottom: thin dotted #aaa;
	border-right: thin dotted #aaa;
}

#maze.basic .cell.plane {
	background-color: #fff;
}
#maze.basic .cell.entry {
	background-color: green;
}
#maze.basic .cell.exit {
	background-color: red;
}

#maze.basic .cell.icy {}
#maze.basic .cell.ground {}
#maze.basic .cell.blocked {}
#maze.basic .cell.locked {}

/* Pokémon Gold/Silver theme **********/

#maze.pkmngs {
}

#maze.pkmngs #grid {
}

#maze.pkmngs .cell {}
