
html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: black;
	background: -webkit-gradient(linear, center top, center bottom, from(white), to(black));
	background: -moz-linear-gradient(top, rgba(255,255,255,1), rgba(0,0,0,1));
}

h1 {
	margin: 1mm;
	padding: 1mm;
	font-family: 'Reenie Beanie', arial, serif;
}

p {
	padding-left: 1em;
	padding-right: 1em;
}

#footer {
	position: fixed;
	margin: 1mm 0 0 0;
	padding: 1mm;
	left: 0;
	bottom: 0;
	width: 100%;
	font-size: xx-small;
	border-top: thin solid white;
	color: white;	
	background-color: black;
}

#maze {
	margin: 1mm;
	padding: 5mm;
	border: medium solid black;	
	border-radius: 5px;
	background-color: white;
	text-align: center;
}

#btns1 { margin: 1mm; padding: 1mm; }
#btns2 { margin: 1mm; padding: 1mm; }

#maze button {
	width: 25px;
	height: 25px;
	margin: 0;
}

#status {
	position: absolute;
	margin: 0;
	padding: 1cm;
	border: thick outset black;
	background-color: white;
	background: -webkit-gradient(linear, center top, center bottom, from(pink), to(gray));
	color: black;
}

.grid { border: thin dotted grey; background-color: #eee; }
.gridBorder { background-color: black; }
.gridUnblockable { background-color: #ccc; }
.gridBlocked { background-color: black; }
.gridGrey { border: thin solid orange; }
.gridBlue { background-color: blue; }
.gridGreen { background-color: green; }
.gridYellow { background-color: yellow; }
.gridRed { background-color: red; }
.gridSolnPath { background-color: #aee; }
.gridSolnStep { background-color: #0f9; }
.gridEntry { background-color: #0f9; }
.gridExit { background-color: #f90; }

